<!DOCTYPE html>
<html>
<head>
    <title>Kodland_student</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1 class = "text">Kodland</h1>
    <a href="/">На главную</a>
    <p class = "text" >Школа цифровых возможностей</p>
    <p class = "text">Расписание занятий:</p>
             <ul class = "text">
                   <li class = "text">Каждую субботу с 18:00 до 19:30 видеоурок</li>
                   <li class = "text">А потом домашка)</li>
             </ul class = "text">
</body>
</img>
</body>
</html>